/.vscode
/.vs
/src/.vs
/src/bin
/src/obj
/tests/.vs
/tests/bin
/tests/obj

/JetFlight.ApplicationDataAccess/.vs
/JetFlight.ApplicationDataAccess/bin
/JetFlight.ApplicationDataAccess/obj
/JetFlight.ApplicationDataAccess/coverage.cobertura.xml
/JetFlight.ApplicationDataAccess/coveragereport


/JetFlight.IntegrationDataAccess/.vs
/JetFlight.IntegrationDataAccess/bin
/JetFlight.IntegrationDataAccess/obj
/JetFlight.IntegrationDataAccess/coverage.cobertura.xml
/JetFlight.IntegrationDataAccess/coveragereport

/JetFlight.Service/.vs
/JetFlight.Service/bin
/JetFlight.Service/obj
/JetFlight.Service/coverage.cobertura.xml
/JetFlight.Service/coveragereport

/JetFlight.Shared/.vs
/JetFlight.Shared/bin
/JetFlight.Shared/obj
/JetFlight.Shared/coverage.cobertura.xml
/JetFlight.Shared/coveragereport

src/Properties/launchSettings.json
tests/WebApiTests.sln.DotSettings.user
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

/Project.Api/*
.env
.DS_Store